<a href="https://colab.research.google.com/github/RuthJimenez309/_Python_Estadastica_/blob/main/_Python_Estadastica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Importar librerias
import pandas as pd

In [6]:
#run before, tu cargar los datos siempre si cieras la sesion
datos = pd.read_csv('/content/datos.csv')

In [7]:
#llamado a mi base
datos.head()

   Ciudad  Sexo  Edad  Color  Años de Estudio  Ingreso    Altura
0      11     0    23      8               12      800  1.603808
1      11     1    23      2               12     1150  1.739790
2      11     1    35      8               15      880  1.760444
3      11     0    46      2                6     3500  1.783158
4      11     1    47      8                9      150  1.690631

In [8]:
datos.sample(2)

      Ciudad  Sexo  Edad  Color  Años de Estudio  Ingreso    Altura
9260      15     0    48      8                2      300  1.669485
558       11     0    43      8                5      788  1.724572

In [10]:
datos['Años de Estudio'].unique()

array([12, 15,  6,  9, 14, 16, 10,  1,  5,  7,  3,  2,  4,  8, 11, 17, 13])

In [11]:
sorted(datos['Años de Estudio'].unique())

[np.int64(1),
 np.int64(2),
 np.int64(3),
 np.int64(4),
 np.int64(5),
 np.int64(6),
 np.int64(7),
 np.int64(8),
 np.int64(9),
 np.int64(10),
 np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17)]

In [12]:
sorted(datos['Sexo'].unique())

[np.int64(0), np.int64(1)]

In [13]:
sorted(datos['Color'].unique())

[np.int64(0), np.int64(2), np.int64(4), np.int64(6), np.int64(8)]

In [14]:
sorted(datos['Ciudad'].unique())

[np.int64(11),
 np.int64(12),
 np.int64(13),
 np.int64(14),
 np.int64(15),
 np.int64(16),
 np.int64(17),
 np.int64(21),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(25),
 np.int64(26),
 np.int64(27),
 np.int64(28),
 np.int64(29),
 np.int64(31)]

In [16]:
datos.Edad.max()

97

In [17]:
#
datos.Edad.min()

13

In [18]:
datos['Edad'].max()

97

In [19]:
#Reporte
print(f'La edad minima es {datos.Edad.min()}')
print(f'La edad maxima es {datos.Edad.max()}')

La edad minima es 13
La edad maxima es 97

In [20]:

print(f"La Altura mínima es {datos['Altura'].min()} y la altura máxima es {datos['Altura'].max()}")

La Altura mínima es 1.369493509 y la altura máxima es 2.015829582

In [22]:
# https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.Series.value_counts.html

In [23]:
datos.Sexo.value_counts()

Sexo
0    24376
1    10922
Name: count, dtype: int64

In [25]:
datos.Sexo.value_counts(normalize=True).round()*100

Sexo
0    100.0
1      0.0
Name: proportion, dtype: float64